ion-header ion-toolbar {
        --background: radial-gradient(circle, #ffffff 0%, #eef2f3 100%);
        --color: rgb(174, 172, 172);

        ion-icon{
          color:rgb(136, 172, 140);
        }
      }

.ride-container {
        text-align: center;
        h2 {
          font-size: 1.4rem;
          margin: 20px 0;
          font-weight: 600;
          color: rgb(113, 142, 116);
        }
      }

      .option-card {
        background: radial-gradient(circle, #ffffff 0%, #eef2f3 100%);
        color: rgb(121, 120, 120);
        padding: 5px;
        border-radius: 12px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        cursor: pointer;
        transition: 0.3s;
        display: flex;
        flex-direction: column;
        align-items: center;

        ion-icon {
          font-size: 2rem;
          color: #666;
        }

        p {
          margin-top: 10px;
          font-size: 1.1rem;
          font-weight: 500;
        }

        &:hover {
          background: #e9ecef;
        }
      }

      .selected {
        background: rgb(160, 202, 165) !important;
        color: white;
      }

      .center-button {
        display: flex;
        justify-content: center;  /* Horizontally centers the button */
        align-items: center;      /* Vertically centers the button */
        height: 20vh;            /* Makes the container take some viewport height */
      }

      .custom-button {
        font-family: 'Georgia', 'Times', serif;
        --background: rgb(136, 172, 140);
        --color: white;
        --border-radius: 8px;  /* round the button corners */
        --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        // margin-bottom: 0px;
      }
