<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons mode="ios" slot="start">
      <ion-menu-button (click)="openMenu()">
        <ion-icon name="menu-outline" size="large"></ion-icon>
      </ion-menu-button>
    </ion-buttons>

    <ion-title mode="ios" style="--color: rgb(245, 240, 230)">Go4u</ion-title>

    <ion-buttons mode="ios" slot="end">
      <ion-button (click)="openNotifications()">
        <ion-badge *ngIf="notifications > 0" class="custom-badge"
          >{{ notifications }}</ion-badge
        >
        <ion-icon name="notifications-circle-sharp" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="openMessages()">
        <ion-badge *ngIf="messages > 0" class="custom-badge"
          >{{ messages }}</ion-badge
        >
        <ion-icon name="chatbubbles-sharp" slot="icon-only"></ion-icon>
      </ion-button>

      <ion-button (click)="openTrends()">
        <ion-icon name="stats-chart-outline" slot="icon-only"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="main-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar style="--background: grey;">
      <ion-title>Menu</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeMenu()">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item button (click)="navigateToProfile()" lines="none">
        <ion-icon name="person-outline" slot="start" class="menu-icon"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-item>
      <ion-item button (click)="navigateToBusinessLocations()" lines="none">
        <ion-icon name="business-outline" slot="start" class="menu-icon"></ion-icon>
        <ion-label>Business Locations</ion-label>
      </ion-item>
      <ion-item button (click)="navigateToUpdateBusiness()" lines="none">
        <ion-icon name="create-outline" slot="start" class="menu-icon"></ion-icon>
        <ion-label>Update Business</ion-label>
      </ion-item>
      <ion-item button (click)="navigateToMyOrders()" lines="none">
        <ion-icon name="list" slot="start" class="menu-icon"></ion-icon>
        <ion-label>Orders Received</ion-label>
      </ion-item>
      <ion-item button (click)="navigateToUpdateInventory()" lines="none">
        <ion-icon name="cube-outline" slot="start" class="menu-icon"></ion-icon>
        <ion-label>Update Inventory</ion-label>
      </ion-item>
      <ion-item button (click)="navigateToPastOrders()" lines="none">
        <ion-icon name="time-outline" slot="start" class="menu-icon"></ion-icon>
        <ion-label>Past Orders</ion-label>
      </ion-item>
      <ion-item button (click)="navigateToRestockingRecommendations()" lines="none">
        <ion-icon name="bulb-outline" slot="start" class="menu-icon"></ion-icon>
        <ion-label>Restocking Recommendations</ion-label>
      </ion-item>
      <ion-item button (click)="navigateToMarketOpportunities()" lines="none">
        <ion-icon name="analytics" slot="start" class="menu-icon"></ion-icon>
        <ion-label>Market Opportunities</ion-label>
      </ion-item>
      <ion-item button (click)="navigateToTrends()" lines="none">
        <ion-icon name="pulse" slot="start" class="menu-icon"></ion-icon>
        <ion-label>Trends</ion-label>
      </ion-item>

      <ion-item button (click)="navigateToSettings()" lines="none">
        <ion-icon name="settings-outline" slot="start" class="menu-icon"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-item>

      <ion-item button (click)="logout()" lines="none">
        <ion-icon name="log-out-outline" slot="start" color="danger"></ion-icon>
        <ion-label color="danger">Logout</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content" [scrollEvents]="true">
  <div class="content-container">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content
        pullingIcon="chevron-down-circle-outline"
        pullingText="Pull to refresh"
        refreshingSpinner="circular"
        refreshingText="Refreshing..."
      >
      </ion-refresher-content>
    </ion-refresher>

    <div class="search-wrapper">
      <ion-searchbar
        placeholder="Search items..."
        (ionInput)="searchItems($event)"
      ></ion-searchbar>
    </div>

    <ion-list>
      <ion-item *ngFor="let item of filteredItems" lines="none" (click)="viewDetails(item)"
>
        <ion-label>
          <h2>{{ item.name }}</h2>
          <p>Total Quantity: {{ item.qty }} kg</p>
          <p>Orders placed: {{ item.orders }} kg</p>
        </ion-label>
        <ion-icon
          name="chevron-forward-outline"
          size="small"
        >
        </ion-icon>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll
      threshold="100px"
      (ionInfinite)="onInfiniteScroll($event)"
      [disabled]="!isInfiniteScrollEnabled">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more items...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>