<ion-content>
  <ion-toolbar class="demand-trends-toolbar">
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goToTrends()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'DEMAND_TRENDS.TITLE' | translate }}</ion-title>
  </ion-toolbar>

  <!-- Loading Spinner -->
  <div *ngIf="isLoading" class="loading-container">
    <ion-spinner name="crescent"></ion-spinner>
    <p>{{ 'DEMAND_TRENDS.LOADING' | translate }}</p>
  </div>

  <!-- Error Message -->
  <div *ngIf="hasError && !isLoading" class="error-container">
    <ion-icon name="alert-circle-outline" color="danger"></ion-icon>
    <p>{{ 'DEMAND_TRENDS.ERROR_MESSAGE' | translate }}</p>
  </div>

  <!-- Main Content -->
  <ion-grid class="ion-no-padding" *ngIf="!isLoading && !hasError">
    <ion-row class="full-height">
      <!-- Filters Sidebar -->
      <ion-col size="12" size-md="3" class="sidebar">
        <div class="filters-container">
          <ion-item>
            <ion-label position="stacked">{{ 'DEMAND_TRENDS.TIME_RANGE' | translate }}</ion-label>
            <ion-select
              [(ngModel)]="selectedTimeRange"
              (ionChange)="onTimeRangeChange($event.detail.value)"
              interface="popover"
            >
              <ion-select-option value="weekly">{{ 'DEMAND_TRENDS.WEEKLY' | translate }}</ion-select-option>
              <ion-select-option value="monthly">{{ 'DEMAND_TRENDS.MONTHLY' | translate }}</ion-select-option>
              <ion-select-option value="quarterly">{{ 'DEMAND_TRENDS.QUARTERLY' | translate }}</ion-select-option>
              <ion-select-option value="yearly">{{ 'DEMAND_TRENDS.YEARLY' | translate }}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">{{ 'DEMAND_TRENDS.SELECT_PRODUCTS' | translate }}</ion-label>
            <ion-select
              [(ngModel)]="selectedProducts"
              [multiple]="true"
              (ionChange)="onProductSelectionChange()"
              interface="action-sheet"
              [interfaceOptions]="customActionSheetOptions"
            >
              <div slot="header">
                <ion-searchbar
                  [(ngModel)]="searchTerm"
                  (ionInput)="filterProducts()"
                  [placeholder]="'DEMAND_TRENDS.SEARCH_PRODUCTS' | translate"
                >
                </ion-searchbar>
                <ion-item lines="none">
                  <ion-checkbox
                    [(ngModel)]="allSelected"
                    (ionChange)="toggleAllProducts()"
                  >
                    {{ 'DEMAND_TRENDS.SELECT_ALL' | translate }}
                  </ion-checkbox>
                </ion-item>
              </div>
              <ion-select-option
                *ngFor="let product of filteredProducts"
                [value]="product.name"
              >
                {{ product.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </ion-col>

      <!-- Charts Area -->
      <ion-col size="12" size-md="9" class="charts-area">
        <div class="charts-container" *ngIf="products.length > 0; else noData">
          <!-- Seasonal Demand Chart -->
          <div class="chart-wrapper">
            <h3>{{ 'DEMAND_TRENDS.SEASONAL_DEMAND_PATTERNS' | translate }}</h3>
            <apx-chart
              *ngIf="seasonalDemandOptions"
              [series]="seasonalDemandOptions.series"
              [chart]="seasonalDemandOptions.chart"
              [xaxis]="seasonalDemandOptions.xaxis"
              [yaxis]="seasonalDemandOptions.yaxis"
              [colors]="seasonalDemandOptions.colors"
              [tooltip]="seasonalDemandOptions.tooltip"
            >
            </apx-chart>
          </div>

          <!-- Product Demand Chart -->
          <div class="chart-wrapper">
            <h3>{{ 'DEMAND_TRENDS.PRODUCT_DEMAND_COMPARISON' | translate }}</h3>
            <apx-chart
              *ngIf="productDemandOptions"
              [series]="productDemandOptions.series"
              [chart]="productDemandOptions.chart"
              [xaxis]="productDemandOptions.xaxis"
              [yaxis]="productDemandOptions.yaxis"
              [colors]="productDemandOptions.colors"
              [plotOptions]="productDemandOptions.plotOptions"
              [tooltip]="productDemandOptions.tooltip"
            >
            </apx-chart>
          </div>
        </div>

        <ng-template #noData>
          <div class="no-data-container">
            <ion-icon name="analytics-outline" color="medium"></ion-icon>
            <p>{{ 'DEMAND_TRENDS.NO_DATA_AVAILABLE' | translate }}</p>
          </div>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>