<ion-header>
  <ion-toolbar>
    <ion-title>Filter</ion-title>
    <ion-buttons slot="end">
      <ion-button class = "close-btn" (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Priority Deliveries</ion-label>
      <ion-toggle [(ngModel)]="priorityDeliveries"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Delayed Deliveries</ion-label>
      <ion-toggle [(ngModel)]="delayedDeliveries"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Shared Deliveries</ion-label>
      <ion-toggle [(ngModel)]="sharedDeliveries"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Single Delivery</ion-label>
      <ion-toggle [(ngModel)]="singleDelivery"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button expand="full" (click)="applyFilters()">Apply</ion-button>
</ion-footer>
