<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/wholesaler/business-locations"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'ADD_BUSINESS_FORM.PAGE_TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <form [formGroup]="businessForm" (ngSubmit)="onSubmit()">

      <!-- Shop Name -->
      <ion-item
        [class.ion-invalid]="
          businessForm.get('shopName')?.invalid &&
          businessForm.get('shopName')?.touched
        "
      >
        <ion-label position="stacked">
          {{ 'ADD_BUSINESS_FORM.SHOP_NAME' | translate }}
        </ion-label>
        <ion-input
          formControlName="shopName"
          [placeholder]="'ADD_BUSINESS_FORM.SHOP_NAME_PLACEHOLDER' | translate"
          type="text"
          [disabled]="isEditMode"
          required
        >
        </ion-input>
      </ion-item>
      <div class="error-message" *ngIf="getErrorMessage('shopName')">
        <ion-icon name="alert-circle-outline"></ion-icon>
        {{ getErrorMessage("shopName") }}
      </div>

      <!-- Phone Number -->
      <ion-item
        [class.ion-invalid]="
          businessForm.get('number')?.invalid &&
          businessForm.get('number')?.touched
        "
      >
        <ion-label position="stacked">
          {{ 'ADD_BUSINESS_FORM.PHONE_NUMBER' | translate }}
        </ion-label>
        <ion-input
          formControlName="number"
          [placeholder]="'ADD_BUSINESS_FORM.PHONE_PLACEHOLDER' | translate"
          type="tel"
          [disabled]="false"
          required
        >
        </ion-input>
      </ion-item>
      <div class="error-message" *ngIf="getErrorMessage('number')">
        <ion-icon name="alert-circle-outline"></ion-icon>
        {{ getErrorMessage("number") }}
      </div>

      <!-- State -->
      <ion-item
        [class.ion-invalid]="
          businessForm.get('state')?.invalid &&
          businessForm.get('state')?.touched
        "
      >
        <ion-label position="stacked">
          {{ 'ADD_BUSINESS_FORM.STATE' | translate }}
        </ion-label>
        <ion-select
          formControlName="state"
          [placeholder]="'ADD_BUSINESS_FORM.SELECT_STATE' | translate"
          [disabled]="isEditMode"
          interface="popover"
          required
        >
          <ion-select-option *ngFor="let state of states" [value]="state.id">
            {{ state.state_name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div class="error-message" *ngIf="getErrorMessage('state')">
        <ion-icon name="alert-circle-outline"></ion-icon>
        {{ getErrorMessage("state") }}
      </div>

      <!-- City -->
      <ion-item
        [class.ion-invalid]="
          businessForm.get('city')?.invalid && businessForm.get('city')?.touched
        "
      >
        <ion-label position="stacked">
          {{ 'ADD_BUSINESS_FORM.CITY' | translate }}
        </ion-label>
        <ion-select
          formControlName="city"
          [placeholder]="'ADD_BUSINESS_FORM.SELECT_CITY' | translate"
          [disabled]="isEditMode"
          interface="popover"
          required
        >
          <ion-select-option *ngFor="let city of cities" [value]="city.id">
            {{ city.city_name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div class="error-message" *ngIf="getErrorMessage('city')">
        <ion-icon name="alert-circle-outline"></ion-icon>
        {{ getErrorMessage("city") }}
      </div>

      <!-- Location -->
      <ion-item
        [class.ion-invalid]="
          businessForm.get('location')?.invalid &&
          businessForm.get('location')?.touched
        "
      >
        <ion-label position="stacked">
          {{ 'ADD_BUSINESS_FORM.LOCATION' | translate }}
        </ion-label>
        <ion-select
          formControlName="location"
          [placeholder]="'ADD_BUSINESS_FORM.SELECT_LOCATION' | translate"
          [disabled]="false"
          interface="popover"
          required
        >
          <ion-select-option
            *ngFor="let location of locations"
            [value]="location.id"
          >
            {{ location.location_name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div class="error-message" *ngIf="getErrorMessage('location')">
        <ion-icon name="alert-circle-outline"></ion-icon>
        {{ getErrorMessage("location") }}
      </div>

      <!-- Address -->
      <ion-item
        [class.ion-invalid]="
          businessForm.get('address')?.invalid &&
          businessForm.get('address')?.touched
        "
      >
        <ion-label position="stacked">
          {{ 'ADD_BUSINESS_FORM.ADDRESS' | translate }}
        </ion-label>
        <ion-textarea
          formControlName="address"
          [placeholder]="'ADD_BUSINESS_FORM.ADDRESS_PLACEHOLDER' | translate"
          rows="3"
          [disabled]="false"
          required
        >
        </ion-textarea>
      </ion-item>
      <div class="error-message" *ngIf="getErrorMessage('address')">
        <ion-icon name="alert-circle-outline"></ion-icon>
        {{ getErrorMessage("address") }}
      </div>

      <!-- Email -->
      <ion-item
        [class.ion-invalid]="
          businessForm.get('email')?.invalid &&
          businessForm.get('email')?.touched
        "
      >
        <ion-label position="stacked">
          {{ 'ADD_BUSINESS_FORM.EMAIL' | translate }}
        </ion-label>
        <ion-input
          formControlName="email"
          [placeholder]="'ADD_BUSINESS_FORM.EMAIL_PLACEHOLDER' | translate"
          type="email"
          [disabled]="false"
          required
        >
        </ion-input>
      </ion-item>
      <div class="error-message" *ngIf="getErrorMessage('email')">
        <ion-icon name="alert-circle-outline"></ion-icon>
        {{ getErrorMessage("email") }}
      </div>

      <!-- GST Number -->
      <ion-item
        [class.ion-invalid]="
          businessForm.get('gstNumber')?.invalid &&
          businessForm.get('gstNumber')?.touched
        "
      >
        <ion-label position="stacked">
          {{ 'ADD_BUSINESS_FORM.GST_NUMBER' | translate }}
        </ion-label>
        <ion-input
          formControlName="gstNumber"
          [placeholder]="'ADD_BUSINESS_FORM.GST_PLACEHOLDER' | translate"
          type="text"
          [disabled]="isEditMode"
          required
        >
        </ion-input>
      </ion-item>
      <div class="error-message" *ngIf="getErrorMessage('gstNumber')">
        <ion-icon name="alert-circle-outline"></ion-icon>
        {{ getErrorMessage("gstNumber") }}
      </div>

      <!-- PAN -->
      <ion-item
        [class.ion-invalid]="
          businessForm.get('pan')?.invalid && businessForm.get('pan')?.touched
        "
      >
        <ion-label position="stacked">
          {{ 'ADD_BUSINESS_FORM.PAN' | translate }}
        </ion-label>
        <ion-input
          formControlName="pan"
          [placeholder]="'ADD_BUSINESS_FORM.PAN_PLACEHOLDER' | translate"
          type="text"
          [disabled]="isEditMode"
          required
        >
        </ion-input>
      </ion-item>
      <div class="error-message" *ngIf="getErrorMessage('pan')">
        <ion-icon name="alert-circle-outline"></ion-icon>
        {{ getErrorMessage("pan") }}
      </div>

      <!-- Established Year -->
      <ion-item
        [class.ion-invalid]="
          businessForm.get('establishedYear')?.invalid &&
          businessForm.get('establishedYear')?.touched
        "
      >
        <ion-label position="stacked">
          {{ 'ADD_BUSINESS_FORM.ESTABLISHED_YEAR' | translate }}
        </ion-label>
        <ion-input
          formControlName="establishedYear"
          [placeholder]="'ADD_BUSINESS_FORM.YEAR_PLACEHOLDER' | translate"
          type="text"
          [disabled]="isEditMode"
        >
        </ion-input>
      </ion-item>
      <div class="error-message" *ngIf="getErrorMessage('establishedYear')">
        <ion-icon name="alert-circle-outline"></ion-icon>
        {{ getErrorMessage("establishedYear") }}
      </div>

      <!-- Submit Button -->
      <ion-button
        expand="block"
        type="submit"
        color="primary"
        class="submit-btn"
        [disabled]="businessForm.invalid"
      >
        <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
        {{ isEditMode ? ('ADD_BUSINESS_FORM.UPDATE_LOCATION' | translate) : ('ADD_BUSINESS_FORM.SAVE_LOCATION' | translate) }}
      </ion-button>
    </form>
  </div>
</ion-content>