<ion-header>
  <ion-toolbar class="trends-toolbar" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/wholesaler/home" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">{{ 'TRENDS.PAGE_TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="trends-container">
    <ion-card (click)="navigateTo('sales-trends')">
      <ion-card-content>
        <ion-icon color = "tertiary" name="bar-chart-outline"></ion-icon>
        <p>{{ 'TRENDS.SALES_TRENDS' | translate }}</p>
      </ion-card-content>
    </ion-card>

    <ion-card (click)="navigateTo('demand-trends')">
      <ion-card-content>
        <ion-icon color = "tertiary" name="analytics-outline"></ion-icon>
        <p>{{ 'TRENDS.DEMAND_TRENDS' | translate }}</p>
      </ion-card-content>
    </ion-card>

    <ion-card (click)="navigateTo('stock-insights')">
      <ion-card-content>
        <ion-icon color = "tertiary" name="cube-outline"></ion-icon>
        <p>{{ 'TRENDS.STOCK_INSIGHTS' | translate }}</p>
      </ion-card-content>
    </ion-card>

    <ion-card (click)="navigateTo('market-comparison')">
      <ion-card-content>
        <ion-icon color = "tertiary" name="podium-outline"></ion-icon>
        <p>{{ 'TRENDS.MARKET_COMPARISON' | translate }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>