<ion-content>
  <div class="login-container">

    <div class="app-title">MyApp</div>

    <ion-segment [(ngModel)]="authMode" value="login">
      <ion-segment-button value="login">Login</ion-segment-button>
      <ion-segment-button value="register">Register</ion-segment-button>
    </ion-segment>

    <form [formGroup]="loginForm" *ngIf="authMode === 'login'" (ngSubmit)="onLogin()">
      <ion-item>
        <ion-input placeholder="Email or Phone" formControlName="emailOrPhone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [type]="showLoginPassword ? 'text' : 'password'" placeholder="Password" formControlName="password"></ion-input>
        <ion-icon [name]="showLoginPassword ? 'eye-off' : 'eye'" slot="end" class="password-toggle" (click)="toggleLoginPasswordVisibility()"></ion-icon>
      </ion-item>

      <div class="center-button">
        <ion-button type="submit" expand="block" class="custom-button">Login</ion-button>
      </div>

      <div class="forgot-password">Forgot Password?</div>
    </form>

    <form [formGroup]="registerForm" *ngIf="authMode === 'register'" (ngSubmit)="onRegisterSubmit()">
      <ion-item>
        <ion-input placeholder="Full Name" formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Email or Phone" formControlName="emailOrPhone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [type]="showRegisterPassword ? 'text' : 'password'" placeholder="Password" formControlName="password"></ion-input>
        <ion-icon [name]="showRegisterPassword ? 'eye-off' : 'eye'" slot="end" class="password-toggle" (click)="toggleRegisterPasswordVisibility()"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-select placeholder="Select Role" formControlName="role">
          <ion-select-option *ngFor="let role of userRoles" [value]="role.id">{{ role.name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <div class="center-button">
        <ion-button type="submit" expand="block" class="custom-button">Register</ion-button>
      </div>
    </form>

  </div>
</ion-content>
