<ion-header>
  <ion-toolbar class="stock-dashboard-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/wholesaler/home" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'STOCK_DASHBOARD.PAGE_TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>{{ 'STOCK_DASHBOARD.BRANCH_LABEL' | translate }}</ion-label>
    <ion-select [(ngModel)]="selectedBranchId" (ionChange)="loadTodayStock()">
      <ion-select-option *ngFor="let branch of branches" [value]="branch.branch_id">
        {{ branch.shop_name }} - {{ branch.location_name }}, {{ branch.city_name }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list *ngIf="todayStock.length > 0; else noStock">
    <ion-item *ngFor="let item of todayStock">
      <ion-label>
        <h2>{{ item.product_name }}</h2>
        <p>{{ 'STOCK_DASHBOARD.CURRENT_STOCK' | translate }}: {{ item.current_stock }}</p>
        <p>{{ 'STOCK_DASHBOARD.PRICE' | translate }}: ₹{{ item.price_per_unit }}</p>
      </ion-label>
      <ion-button fill="outline" (click)="openUpdateStock(item)">
        {{ 'STOCK_DASHBOARD.UPDATE' | translate }}
      </ion-button>
    </ion-item>
  </ion-list>

  <ng-template #noStock>
    <ion-text class="ion-padding">
      {{ 'STOCK_DASHBOARD.NO_STOCK' | translate }}
    </ion-text>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button  color="tertiary" (click)="openAddStock()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>