<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'UPDATE_STOCK.PAGE_TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{ 'UPDATE_STOCK.CLOSE' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">{{ 'UPDATE_STOCK.STOCK_TO_DEDUCT' | translate }}</ion-label>
    <ion-input type="number" [(ngModel)]="stockToDeduct"></ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top" (click)="updateStock()">
    {{ 'UPDATE_STOCK.UPDATE' | translate }}
  </ion-button>
</ion-content>