#map {
        height: 50vh;
        width: 100%;
      }

      .status-card {
        margin: 10px;
        text-align: center;
      }

      ion-footer {
        display: flex;
        justify-content: space-between;
        padding: 10px;
      }
