      ion-content{
        ion-segment {
                margin: 10px;
                font-family: "Century Gothic", sans-serif;
              }
              ion-item {
                --border-color: #e0e0e0;
              ion-label {
                font-family: "Century Gothic", sans-serif;
                ion-chip{
                        font-family: "Century Gothic", sans-serif;
                        font-size: 14px;
                }
        }
        ion-button{
                font-family: "Century Gothic", sans-serif;
        }
        .track-btn{
                color: rgb(89, 111, 92);}

        .details-btn{
                color: rgb(113, 142, 116);}

        .modify-btn{
                color: rgb(134, 167, 139);}

}
}
