<ion-content>
  <form [formGroup]="location" (ngSubmit)="submitForm()">
    <ion-list>
      <ion-item [class.invalid]="isFieldInvalid('location')">
        <!-- <ion-label position="floating">Location Name</ion-label> -->
        <ion-input label="Location Name (Optional)" labelPlacement="floating" formControlName="location"></ion-input>
      </ion-item>
      <p class="error" *ngIf="isFieldInvalid('location')">Location name cannot exceed 50 characters.</p>

    <!-- <ion-button expand="full" type="submit" [disabled]="location.invalid">
      Submit
    </ion-button> -->

    <div class="center-button">
      <ion-button class="custom-button">
        SUBMIT
      </ion-button>
      </div>

  </ion-list>
  </form>

  <ion-list>
    <ion-label class="center-label">AVAILABLE LOCATIONS</ion-label>
    <ion-item-group>

      <ion-list>
        <ion-item *ngFor="let loc of locations">
          <ion-icon name="location-outline" slot="start"></ion-icon>
          <ion-label>
            <h2>{{ loc.location || 'N/A' }}</h2>
            <p>{{ loc.city_name || 'N/A' }}, {{ loc.state_name || 'N/A' }}</p>
          </ion-label>
          <ion-button slot="end" color="danger" (click)="deleteLocation(loc.id)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-item-group>
  </ion-list>
</ion-content>
