<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goToTrends()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Trends</ion-title>
  </ion-toolbar>

  <div *ngIf="isLoading" class="ion-text-center ion-padding">
    <ion-spinner></ion-spinner>
    <p>Loading data...</p>
  </div>

  <ion-segment [(ngModel)]="selectedView" mode="ios">
    <ion-segment-button value="chart">
      <ion-label>Stock Levels</ion-label>
    </ion-segment-button>
    <ion-segment-button value="alerts">
      <ion-label>Low Stock</ion-label>
    </ion-segment-button>
    <ion-segment-button value="slow">
      <ion-label>Slow Moving</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="selectedView">
    <!-- Stock Levels Chart -->
    <div *ngSwitchCase="'chart'" class="chart-container">
      <ion-item class="warehouse-select">
        <ion-label>Select Warehouse/Mandi</ion-label>
        <ion-select
          [(ngModel)]="selectedWarehouse"
          (ionChange)="updateChartData()"
        >
          <ion-select-option
            *ngFor="let warehouse of warehouses"
            [value]="warehouse"
          >
            {{ warehouse.mandi_name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <h3>Stock Levels - {{ selectedWarehouse?.mandi_name }}</h3>
      <apx-chart
    *ngIf="stockLevelsOptions"
    [series]="stockLevelsOptions.series"
    [chart]="stockLevelsOptions.chart"
    [xaxis]="stockLevelsOptions.xaxis"
    [yaxis]="stockLevelsOptions.yaxis"
    [colors]="stockLevelsOptions.colors"
    [plotOptions]="stockLevelsOptions.plotOptions"
    [dataLabels]="stockLevelsOptions.dataLabels"
    [tooltip]="stockLevelsOptions.tooltip"
  >
  </apx-chart>
    </div>

    <!-- Low Stock Alerts -->
    <div *ngSwitchCase="'alerts'" class="chart-container">
      <h3>Low Stock Items</h3>
      <ion-list class="alerts-container">
        <ion-item *ngFor="let alert of lowStockAlerts" class="critical">
          <ion-label>
            <h2>{{ alert.product_name }}</h2>
            <p>Location: {{ alert.mandi_name }}</p>
            <p>Current Stock: {{ alert.stock_left | number }} kg</p>
            <p>Minimum Required: {{ alert.minimum_stock_level | number }} kg</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <!-- Slow Moving Products -->
    <div *ngSwitchCase="'slow'" class="chart-container">
      <h3>Slow Moving Products</h3>
      <ion-list class="alerts-container">
        <ion-item *ngFor="let item of slowMovingProducts" class="slow-moving">
          <ion-label>
            <h2>{{ item.product_name }}</h2>
            <p>Location: {{ item.mandi_name }}</p>
            <p>Current Stock: {{ item.stock_left | number }} kg</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
