<ion-content>
  <ion-toolbar class="sales-trends-toolbar">
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goToTrends()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'SALES_TRENDS.PAGE_TITLE' | translate }}</ion-title>
  </ion-toolbar>

  <div class="controls-container">
    <ion-segment [(ngModel)]="selectedView" mode="ios" (ionChange)="onViewChange()">
      <ion-segment-button value="trends">
        <ion-label>{{ 'SALES_TRENDS.SALES_TRENDS' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="products">
        <ion-label>{{ 'SALES_TRENDS.TOP_PRODUCTS' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-select
      [(ngModel)]="selectedPeriod"
      (ionChange)="onPeriodChange()"
      interface="popover"
      class="period-selector"
      [label]="'SALES_TRENDS.SELECT_PERIOD' | translate"
    >
      <ion-select-option value="weekly">{{ 'SALES_TRENDS.WEEKLY' | translate }}</ion-select-option>
      <ion-select-option value="monthly">{{ 'SALES_TRENDS.MONTHLY' | translate }}</ion-select-option>
      <ion-select-option value="quarterly">{{ 'SALES_TRENDS.QUARTERLY' | translate }}</ion-select-option>
      <ion-select-option value="yearly">{{ 'SALES_TRENDS.YEARLY' | translate }}</ion-select-option>
    </ion-select>

    <ion-select
      *ngIf="selectedView === 'products'"
      [(ngModel)]="selectedMetric"
      (ionChange)="onMetricChange()"
      interface="popover"
      class="period-selector metric-selector"
      [label]="'SALES_TRENDS.VIEW_BY' | translate"
    >
      <ion-select-option value="volume">{{ 'SALES_TRENDS.BY_VOLUME' | translate }}</ion-select-option>
      <ion-select-option value="price">{{ 'SALES_TRENDS.BY_REVENUE' | translate }}</ion-select-option>
    </ion-select>
  </div>

  <div class="chart-container">
    <ng-container *ngIf="selectedView === 'trends'">
      <apx-chart
        *ngIf="chartOptions?.series"
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [yaxis]="chartOptions.yaxis"
        [colors]="chartOptions.colors"
        [title]="chartOptions.title"
      ></apx-chart>
    </ng-container>

    <ng-container *ngIf="selectedView === 'products'">
      <apx-chart
        *ngIf="topProductsOptions?.series"
        [series]="topProductsOptions.series"
        [chart]="topProductsOptions.chart"
        [xaxis]="topProductsOptions.xaxis"
        [yaxis]="topProductsOptions.yaxis"
        [plotOptions]="topProductsOptions.plotOptions"
        [dataLabels]="topProductsOptions.dataLabels"
        [colors]="topProductsOptions.colors"
        [title]="topProductsOptions.title"
        [grid]="topProductsOptions.grid"
        [tooltip]="topProductsOptions.tooltip"
      ></apx-chart>
    </ng-container>
  </div>
</ion-content>