<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'ADD_STOCK.PAGE_TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{ 'ADD_STOCK.CLOSE' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Branch -->
  <ion-item>
    <ion-label position="floating">{{ 'ADD_STOCK.BRANCH' | translate }}</ion-label>
    <ion-select [(ngModel)]="stockData.branchId" [placeholder]="'ADD_STOCK.SELECT_BRANCH' | translate">
      <ion-select-option *ngFor="let branch of branches" [value]="branch.branch_id">
        {{ branch.shop_name }} - {{ branch.location_name }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Product -->
  <ion-item>
    <ion-label position="floating">{{ 'ADD_STOCK.PRODUCT' | translate }}</ion-label>
    <ion-select [(ngModel)]="stockData.productId" [placeholder]="'ADD_STOCK.SELECT_PRODUCT' | translate">
      <ion-select-option *ngFor="let product of products" [value]="product.id">
        {{ product.name }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Quality -->
  <ion-item>
    <ion-label position="floating">{{ 'ADD_STOCK.QUALITY' | translate }}</ion-label>
    <ion-select [(ngModel)]="stockData.quality" [placeholder]="'ADD_STOCK.SELECT_QUALITY' | translate">
      <ion-select-option *ngFor="let quality of qualities" [value]="quality">
        {{ quality }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Wastage -->
  <ion-item>
    <ion-label>{{ 'ADD_STOCK.WASTAGE' | translate }}</ion-label>
    <div class="stepper">
      <ion-button fill="outline" (click)="decrement('wastage')">-</ion-button>
      <span class="stepper-value">{{ stockData.wastage || 0 }} {{ 'ADD_STOCK.UNIT_KG' | translate }}</span>
      <ion-button fill="outline" (click)="increment('wastage')">+</ion-button>
      <ion-button fill="outline" (click)="addFifty('wastage')">+50{{ 'ADD_STOCK.UNIT_KG' | translate }}</ion-button>
    </div>
  </ion-item>

  <!-- Stock Received -->
  <ion-item>
    <ion-label>{{ 'ADD_STOCK.STOCK_RECEIVED' | translate }}</ion-label>
    <div class="stepper">
      <ion-button fill="outline" (click)="decrement('stockReceived')">-</ion-button>
      <span class="stepper-value">{{ stockData.stockReceived || 0 }} {{ 'ADD_STOCK.UNIT_KG' | translate }}</span>
      <ion-button fill="outline" (click)="increment('stockReceived')">+</ion-button>
      <ion-button fill="outline" (click)="addFifty('stockReceived')">+50{{ 'ADD_STOCK.UNIT_KG' | translate }}</ion-button>
    </div>
  </ion-item>

  <!-- Stock Carried Forward -->
  <ion-item>
    <ion-label>{{ 'ADD_STOCK.STOCK_CARRIED_FORWARD' | translate }}</ion-label>
    <div class="stepper">
      <ion-button fill="outline" (click)="decrement('stockCarriedForward')">-</ion-button>
      <span class="stepper-value">{{ stockData.stockCarriedForward || 0 }} {{ 'ADD_STOCK.UNIT_KG' | translate }}</span>
      <ion-button fill="outline" (click)="increment('stockCarriedForward')">+</ion-button>
      <ion-button fill="outline" (click)="addFifty('stockCarriedForward')">+50{{ 'ADD_STOCK.UNIT_KG' | translate }}</ion-button>
    </div>
  </ion-item>

  <!-- Price per Unit -->
  <ion-item>
    <ion-label>{{ 'ADD_STOCK.PRICE_PER_UNIT' | translate }}</ion-label>
    <div class="stepper">
      <ion-button fill="outline" (click)="decrement('pricePerUnit')">-</ion-button>
      <span class="stepper-value">₹{{ stockData.pricePerUnit || 0 }}</span>
      <ion-button fill="outline" (click)="increment('pricePerUnit')">+</ion-button>
      <ion-button fill="outline" (click)="addFifty('pricePerUnit')">+50</ion-button>
    </div>
  </ion-item>

  <!-- Save Button -->
  <ion-button expand="block" class="ion-margin-top" (click)="addStock()">
    {{ 'ADD_STOCK.SAVE' | translate }}
  </ion-button>
</ion-content>
