<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goToTrends()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Trends</ion-title>
  </ion-toolbar>

  <div class="filters-container">
    <ion-list>
      <ion-item>
        <ion-label>Select Mandis</ion-label>
        <ion-select multiple="true" [(ngModel)]="selectedMandis" (ionChange)="onMandiChange($event)">
          <ion-select-option *ngFor="let mandi of availableMandis" [value]="mandi">
            {{mandi}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Select Products</ion-label>
        <ion-select multiple="true" [(ngModel)]="selectedProducts" (ionChange)="onProductChange($event)">
          <ion-select-option *ngFor="let product of availableProducts" [value]="product">
            {{product}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
  <div class="chart-container">
    <h3>Price Comparison Across Markets</h3>
    <apx-chart
      [series]="priceComparisonOptions.series"
      [chart]="priceComparisonOptions.chart"
      [xaxis]="priceComparisonOptions.xaxis"
      [yaxis]="priceComparisonOptions.yaxis"
      [plotOptions]="priceComparisonOptions.plotOptions"
      [colors]="priceComparisonOptions.colors"
      [tooltip]="priceComparisonOptions.tooltip"
    ></apx-chart>
  </div>
</ion-content>