<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/buyer/business-locations"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <form [formGroup]="businessForm" (ngSubmit)="onSubmit()">
      <!-- Shop Name -->
      <ion-item
        [class.ion-invalid]="
          businessForm.get('shopName')?.invalid &&
          businessForm.get('shopName')?.touched
        "
      >
        <ion-label position="stacked">Shop Name *</ion-label>
        <ion-input
          formControlName="shopName"
          placeholder="Enter shop name"
          type="text"
        >
        </ion-input>
      </ion-item>
      <div class="error-message" *ngIf="getErrorMessage('shopName')">
        {{ getErrorMessage("shopName") }}
      </div>

      <!-- Phone Number -->
      <ion-item
        [class.ion-invalid]="
          businessForm.get('number')?.invalid &&
          businessForm.get('number')?.touched
        "
      >
        <ion-label position="stacked">Phone Number *</ion-label>
        <ion-input
          formControlName="number"
          placeholder="Enter 10-digit phone number"
          type="tel"
        >
        </ion-input>
      </ion-item>
      <div class="error-message" *ngIf="getErrorMessage('number')">
        {{ getErrorMessage("number") }}
      </div>

      <!-- State -->
      <ion-item
        [class.ion-invalid]="
          businessForm.get('state')?.invalid &&
          businessForm.get('state')?.touched
        "
      >
        <ion-label position="stacked">State *</ion-label>
        <ion-select formControlName="state" placeholder="Select state">
          <ion-select-option *ngFor="let state of states" [value]="state.id">
            {{ state.state_name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div class="error-message" *ngIf="getErrorMessage('state')">
        {{ getErrorMessage("state") }}
      </div>

      <!-- City -->
      <ion-item
        [class.ion-invalid]="
          businessForm.get('city')?.invalid && businessForm.get('city')?.touched
        "
      >
        <ion-label position="stacked">City *</ion-label>
        <ion-select formControlName="city" placeholder="Select city">
          <ion-select-option *ngFor="let city of cities" [value]="city.id">
            {{ city.city_name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div class="error-message" *ngIf="getErrorMessage('city')">
        {{ getErrorMessage("city") }}
      </div>

      <!-- Location -->
      <ion-item
        [class.ion-invalid]="
          businessForm.get('location')?.invalid &&
          businessForm.get('location')?.touched
        "
      >
        <ion-label position="stacked">Location *</ion-label>
        <ion-select formControlName="location" placeholder="Select location">
          <ion-select-option
            *ngFor="let location of locations"
            [value]="location.id"
          >
            {{ location.location_name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div class="error-message" *ngIf="getErrorMessage('location')">
        {{ getErrorMessage("location") }}
      </div>

      <!-- Address -->
      <ion-item
        [class.ion-invalid]="
          businessForm.get('address')?.invalid &&
          businessForm.get('address')?.touched
        "
      >
        <ion-label position="stacked">Address *</ion-label>
        <ion-textarea
          formControlName="address"
          placeholder="Enter complete address"
          rows="3"
        >
        </ion-textarea>
      </ion-item>
      <div class="error-message" *ngIf="getErrorMessage('address')">
        {{ getErrorMessage("address") }}
      </div>

      <!-- Email -->
      <ion-item
        [class.ion-invalid]="
          businessForm.get('email')?.invalid &&
          businessForm.get('email')?.touched
        "
      >
        <ion-label position="stacked">Email *</ion-label>
        <ion-input
          formControlName="email"
          placeholder="Enter email address"
          type="email"
        >
        </ion-input>
      </ion-item>
      <div class="error-message" *ngIf="getErrorMessage('email')">
        {{ getErrorMessage("email") }}
      </div>

      <!-- GST Number -->
      <ion-item
        [class.ion-invalid]="
          businessForm.get('gstNumber')?.invalid &&
          businessForm.get('gstNumber')?.touched
        "
      >
        <ion-label position="stacked">GST Number *</ion-label>
        <ion-input
          formControlName="gstNumber"
          placeholder="Enter GST number"
          type="text"
        >
        </ion-input>
      </ion-item>
      <div class="error-message" *ngIf="getErrorMessage('gstNumber')">
        {{ getErrorMessage("gstNumber") }}
      </div>

      <!-- PAN -->
      <ion-item
        [class.ion-invalid]="
          businessForm.get('pan')?.invalid && businessForm.get('pan')?.touched
        "
      >
        <ion-label position="stacked">PAN Number *</ion-label>
        <ion-input
          formControlName="pan"
          placeholder="Enter PAN number"
          type="text"
        >
        </ion-input>
      </ion-item>
      <div class="error-message" *ngIf="getErrorMessage('pan')">
        {{ getErrorMessage("pan") }}
      </div>

      <!-- Privileged User -->
      <ion-item>
        <ion-label>Privileged User</ion-label>
        <ion-toggle formControlName="privilegedUser"></ion-toggle>
      </ion-item>
      <div class="error-message" *ngIf="getErrorMessage('privilegedUser')">
        {{ getErrorMessage("privilegedUser") }}
      </div>

      <!-- Business Type -->
      <ion-item
        [class.ion-invalid]="
          businessForm.get('b_type_id')?.invalid &&
          businessForm.get('b_type_id')?.touched
        "
      >
        <ion-label position="stacked">Business Type *</ion-label>
        <ion-select
          formControlName="b_type_id"
          placeholder="Select business type"
        >
          <ion-select-option
            *ngFor="let type of businessTypes"
            [value]="type.b_typeid"
          >
            {{ type.b_typename }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div class="error-message" *ngIf="getErrorMessage('b_type_id')">
        {{ getErrorMessage("b_type_id") }}
      </div>

      <!-- Established Year -->
      <ion-item
        [class.ion-invalid]="
          businessForm.get('establishedYear')?.invalid &&
          businessForm.get('establishedYear')?.touched
        "
      >
        <ion-label position="stacked">Established Year</ion-label>
        <ion-input
          formControlName="establishedYear"
          placeholder="Enter year (e.g., 2020)"
          type="text"
        >
        </ion-input>
      </ion-item>
      <div class="error-message" *ngIf="getErrorMessage('establishedYear')">
        {{ getErrorMessage("establishedYear") }}
      </div>

      <!-- Submit Button -->
      <ion-button
        expand="block"
        type="submit"
        color="primary"
        class="submit-btn"
        [disabled]="businessForm.invalid"
      >
        <ion-icon name="save" slot="start"></ion-icon>
        {{ isEditMode ? "Update Location" : "Save Location" }}
      </ion-button>
    </form>
  </div>
</ion-content>
