<ion-header>
  <ion-toolbar>
    <ion-title>Driver Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Progress Bar -->
  <div class="progress-container">
    <ion-progress-bar [value]="currentStep / totalSteps" color="primary"></ion-progress-bar>
    <p class="step-text">Step {{ currentStep }} of {{ totalSteps }}: {{ getStepTitle() }}</p>
  </div>

  <!-- Step 1: Basic Information -->
  <div *ngIf="currentStep === 1">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Basic Information</ion-card-title>
        <ion-card-subtitle>Enter driver's personal details</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="basicInfoForm">
          <ion-grid>
            <!-- Personal Information -->
            <ion-row>
              <ion-col size="12" size-md="6">
                <ion-item [class.error-item]="hasError(basicInfoForm, 'first_name')">
                  <ion-label position="stacked">First Name *</ion-label>
                  <ion-input
                    formControlName="first_name"
                    placeholder="Enter first name"
                    type="text">
                  </ion-input>
                </ion-item>
                <div *ngIf="hasError(basicInfoForm, 'first_name')" class="error-text">
                  {{ getErrorMessage(basicInfoForm, 'first_name') }}
                </div>
              </ion-col>
              <ion-col size="12" size-md="6">
                <ion-item [class.error-item]="hasError(basicInfoForm, 'last_name')">
                  <ion-label position="stacked">Last Name *</ion-label>
                  <ion-input
                    formControlName="last_name"
                    placeholder="Enter last name"
                    type="text">
                  </ion-input>
                </ion-item>
                <div *ngIf="hasError(basicInfoForm, 'last_name')" class="error-text">
                  {{ getErrorMessage(basicInfoForm, 'last_name') }}
                </div>
              </ion-col>
            </ion-row>

            <!-- License Information -->
            <ion-item-divider>
              <ion-label>License Information</ion-label>
            </ion-item-divider>

            <ion-row>
              <ion-col size="12" size-md="6">
                <ion-item [class.error-item]="hasError(basicInfoForm, 'licence_no')">
                  <ion-label position="stacked">License Number *</ion-label>
                  <ion-input
                    formControlName="licence_no"
                    placeholder="Enter license number"
                    type="text">
                  </ion-input>
                </ion-item>
                <div *ngIf="hasError(basicInfoForm, 'licence_no')" class="error-text">
                  {{ getErrorMessage(basicInfoForm, 'licence_no') }}
                </div>
              </ion-col>
              <ion-col size="12" size-md="6">
                <ion-item [class.error-item]="hasError(basicInfoForm, 'licence_type')">
                  <ion-label position="stacked">License Type *</ion-label>
                  <ion-select formControlName="licence_type" placeholder="Select license type">
                    <ion-select-option value="2W">2 Wheeler</ion-select-option>
                    <ion-select-option value="LMV">Light Motor Vehicle</ion-select-option>
                    <ion-select-option value="HMV">Heavy Motor Vehicle</ion-select-option>
                    <ion-select-option value="TRANSPORT">Transport Vehicle</ion-select-option>
                  </ion-select>
                </ion-item>
                <div *ngIf="hasError(basicInfoForm, 'licence_type')" class="error-text">
                  {{ getErrorMessage(basicInfoForm, 'licence_type') }}
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-md="6">
                <ion-item [class.error-item]="hasError(basicInfoForm, 'licence_issued_date')">
                  <ion-label position="stacked">License Issued Date *</ion-label>
                  <ion-datetime
                    formControlName="licence_issued_date"
                    presentation="date"
                    [max]="today">
                  </ion-datetime>
                </ion-item>
                <div *ngIf="hasError(basicInfoForm, 'licence_issued_date')" class="error-text">
                  {{ getErrorMessage(basicInfoForm, 'licence_issued_date') }}
                </div>
              </ion-col>
              <ion-col size="12" size-md="6">
                <ion-item [class.error-item]="hasError(basicInfoForm, 'licence_expiry_date')">
                  <ion-label position="stacked">License Expiry Date *</ion-label>
                  <ion-datetime
                    formControlName="licence_expiry_date"
                    presentation="date"
                    [min]="today">
                  </ion-datetime>
                </ion-item>
                <div *ngIf="hasError(basicInfoForm, 'licence_expiry_date')" class="error-text">
                  {{ getErrorMessage(basicInfoForm, 'licence_expiry_date') }}
                </div>
              </ion-col>
            </ion-row>

            <!-- Contact Information -->
            <ion-item-divider>
              <ion-label>Contact Information</ion-label>
            </ion-item-divider>

            <ion-row>
              <ion-col size="12" size-md="6">
                <ion-item [class.error-item]="hasError(basicInfoForm, 'contact_num')">
                  <ion-label position="stacked">Contact Number *</ion-label>
                  <ion-input
                    formControlName="contact_num"
                    type="tel"
                    placeholder="Enter contact number"
                    maxlength="10">
                  </ion-input>
                </ion-item>
                <div *ngIf="hasError(basicInfoForm, 'contact_num')" class="error-text">
                  {{ getErrorMessage(basicInfoForm, 'contact_num') }}
                </div>
              </ion-col>
              <ion-col size="12" size-md="6">
                <ion-item [class.error-item]="hasError(basicInfoForm, 'contact_num_addl')">
                  <ion-label position="stacked">Additional Contact *</ion-label>
                  <ion-input
                    formControlName="contact_num_addl"
                    type="tel"
                    placeholder="Enter additional contact"
                    maxlength="10">
                  </ion-input>
                </ion-item>
                <div *ngIf="hasError(basicInfoForm, 'contact_num_addl')" class="error-text">
                  {{ getErrorMessage(basicInfoForm, 'contact_num_addl') }}
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-item [class.error-item]="hasError(basicInfoForm, 'email')">
                  <ion-label position="stacked">Email *</ion-label>
                  <ion-input
                    formControlName="email"
                    type="email"
                    placeholder="Enter email address">
                  </ion-input>
                </ion-item>
                <div *ngIf="hasError(basicInfoForm, 'email')" class="error-text">
                  {{ getErrorMessage(basicInfoForm, 'email') }}
                </div>
              </ion-col>
            </ion-row>

            <!-- Identity Information -->
            <ion-item-divider>
              <ion-label>Identity Information</ion-label>
            </ion-item-divider>

            <ion-row>
              <ion-col size="12" size-md="6">
                <ion-item [class.error-item]="hasError(basicInfoForm, 'aadhar')">
                  <ion-label position="stacked">Aadhar Number *</ion-label>
                  <ion-input
                    formControlName="aadhar"
                    placeholder="Enter Aadhar number"
                    type="text"
                    maxlength="12">
                  </ion-input>
                </ion-item>
                <div *ngIf="hasError(basicInfoForm, 'aadhar')" class="error-text">
                  {{ getErrorMessage(basicInfoForm, 'aadhar') }}
                </div>
              </ion-col>
              <ion-col size="12" size-md="6">
                <ion-item [class.error-item]="hasError(basicInfoForm, 'pan')">
                  <ion-label position="stacked">PAN Number *</ion-label>
                  <ion-input
                    formControlName="pan"
                    placeholder="Enter PAN number"
                    type="text"
                    maxlength="10"
                    style="text-transform: uppercase;">
                  </ion-input>
                </ion-item>
                <div *ngIf="hasError(basicInfoForm, 'pan')" class="error-text">
                  {{ getErrorMessage(basicInfoForm, 'pan') }}
                </div>
              </ion-col>
            </ion-row>

            <!-- Address Information -->
            <ion-item-divider>
              <ion-label>Address Information</ion-label>
            </ion-item-divider>

            <ion-row>
              <ion-col size="12" size-md="6">
                <ion-item [class.error-item]="hasError(basicInfoForm, 'address_door_no')">
                  <ion-label position="stacked">Door Number *</ion-label>
                  <ion-input formControlName="address_door_no" placeholder="Enter door number"></ion-input>
                </ion-item>
                <div *ngIf="hasError(basicInfoForm, 'address_door_no')" class="error-text">
                  {{ getErrorMessage(basicInfoForm, 'address_door_no') }}
                </div>
              </ion-col>
              <ion-col size="12" size-md="6">
                <ion-item [class.error-item]="hasError(basicInfoForm, 'address_street')">
                  <ion-label position="stacked">Street *</ion-label>
                  <ion-input formControlName="address_street" placeholder="Enter street"></ion-input>
                </ion-item>
                <div *ngIf="hasError(basicInfoForm, 'address_street')" class="error-text">
                  {{ getErrorMessage(basicInfoForm, 'address_street') }}
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-md="6">
                <ion-item [class.error-item]="hasError(basicInfoForm, 'address_town')">
                  <ion-label position="stacked">Town *</ion-label>
                  <ion-input formControlName="address_town" placeholder="Enter town"></ion-input>
                </ion-item>
                <div *ngIf="hasError(basicInfoForm, 'address_town')" class="error-text">
                  {{ getErrorMessage(basicInfoForm, 'address_town') }}
                </div>
              </ion-col>
              <ion-col size="12" size-md="6">
                <ion-item [class.error-item]="hasError(basicInfoForm, 'address_state')">
                  <ion-label position="stacked">State *</ion-label>
                  <ion-input formControlName="address_state" placeholder="Enter state"></ion-input>
                </ion-item>
                <div *ngIf="hasError(basicInfoForm, 'address_state')" class="error-text">
                  {{ getErrorMessage(basicInfoForm, 'address_state') }}
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-md="6">
                <ion-item [class.error-item]="hasError(basicInfoForm, 'address_pin_code')">
                  <ion-label position="stacked">Pin Code *</ion-label>
                  <ion-input
                    formControlName="address_pin_code"
                    placeholder="Enter pin code"
                    type="text"
                    maxlength="6">
                  </ion-input>
                </ion-item>
                <div *ngIf="hasError(basicInfoForm, 'address_pin_code')" class="error-text">
                  {{ getErrorMessage(basicInfoForm, 'address_pin_code') }}
                </div>
              </ion-col>
              <ion-col size="12" size-md="6">
                <ion-item [class.error-item]="hasError(basicInfoForm, 'address_landmark')">
                  <ion-label position="stacked">Landmark *</ion-label>
                  <ion-input formControlName="address_landmark" placeholder="Enter landmark"></ion-input>
                </ion-item>
                <div *ngIf="hasError(basicInfoForm, 'address_landmark')" class="error-text">
                  {{ getErrorMessage(basicInfoForm, 'address_landmark') }}
                </div>
              </ion-col>
            </ion-row>

            <!-- Bank Information -->
            <ion-item-divider>
              <ion-label>Bank Information</ion-label>
            </ion-item-divider>

            <ion-row>
              <ion-col size="12" size-md="6">
                <ion-item [class.error-item]="hasError(basicInfoForm, 'bank_ac_no')">
                  <ion-label position="stacked">Bank Account Number *</ion-label>
                  <ion-input formControlName="bank_ac_no" placeholder="Enter account number"></ion-input>
                </ion-item>
                <div *ngIf="hasError(basicInfoForm, 'bank_ac_no')" class="error-text">
                  {{ getErrorMessage(basicInfoForm, 'bank_ac_no') }}
                </div>
              </ion-col>
              <ion-col size="12" size-md="6">
                <ion-item [class.error-item]="hasError(basicInfoForm, 'bank_name')">
                  <ion-label position="stacked">Bank Name *</ion-label>
                  <ion-input formControlName="bank_name" placeholder="Enter bank name"></ion-input>
                </ion-item>
                <div *ngIf="hasError(basicInfoForm, 'bank_name')" class="error-text">
                  {{ getErrorMessage(basicInfoForm, 'bank_name') }}
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-md="6">
                <ion-item [class.error-item]="hasError(basicInfoForm, 'bank_branch')">
                  <ion-label position="stacked">Bank Branch *</ion-label>
                  <ion-input formControlName="bank_branch" placeholder="Enter branch name"></ion-input>
                </ion-item>
                <div *ngIf="hasError(basicInfoForm, 'bank_branch')" class="error-text">
                  {{ getErrorMessage(basicInfoForm, 'bank_branch') }}
                </div>
              </ion-col>
              <ion-col size="12" size-md="6">
                <ion-item [class.error-item]="hasError(basicInfoForm, 'ifsc')">
                  <ion-label position="stacked">IFSC Code *</ion-label>
                  <ion-input
                    formControlName="ifsc"
                    placeholder="Enter IFSC code"
                    style="text-transform: uppercase;">
                  </ion-input>
                </ion-item>
                <div *ngIf="hasError(basicInfoForm, 'ifsc')" class="error-text">
                  {{ getErrorMessage(basicInfoForm, 'ifsc') }}
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-item [class.error-item]="hasError(basicInfoForm, 'bank_address')">
                  <ion-label position="stacked">Bank Address *</ion-label>
                  <ion-textarea
                    formControlName="bank_address"
                    placeholder="Enter bank address"
                    rows="3">
                  </ion-textarea>
                </ion-item>
                <div *ngIf="hasError(basicInfoForm, 'bank_address')" class="error-text">
                  {{ getErrorMessage(basicInfoForm, 'bank_address') }}
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Step 2: Document Upload -->
  <div *ngIf="currentStep === 2">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Document Upload</ion-card-title>
        <ion-card-subtitle>Upload required documents (Images only, max 5MB each)</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="documentsForm">
          <ion-grid>
            <ion-row>
              <ion-col size="12" size-md="6">
                <ion-item>
                  <ion-label position="stacked">Aadhar Document *</ion-label>
                </ion-item>
                <div class="file-upload-container">
                  <input
                    type="file"
                    accept="image/*"
                    (change)="onFileSelected($event, 'aadhar_img')"
                    class="file-input"
                    id="aadhar-upload">
                  <label for="aadhar-upload" class="file-label">
                    <ion-icon name="cloud-upload"></ion-icon>
                    Choose Aadhar Image
                  </label>
                </div>
                <div *ngIf="hasError(documentsForm, 'aadhar_img')" class="error-text">
                  {{ getErrorMessage(documentsForm, 'aadhar_img') }}
                </div>
              </ion-col>
              <ion-col size="12" size-md="6">
                <ion-item>
                  <ion-label position="stacked">PAN Document *</ion-label>
                </ion-item>
                <div class="file-upload-container">
                  <input
                    type="file"
                    accept="image/*"
                    (change)="onFileSelected($event, 'pan_img')"
                    class="file-input"
                    id="pan-upload">
                  <label for="pan-upload" class="file-label">
                    <ion-icon name="cloud-upload"></ion-icon>
                    Choose PAN Image
                  </label>
                </div>
                <div *ngIf="hasError(documentsForm, 'pan_img')" class="error-text">
                  {{ getErrorMessage(documentsForm, 'pan_img') }}
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-md="6">
                <ion-item>
                  <ion-label position="stacked">Driver Photo *</ion-label>
                </ion-item>
                <div class="file-upload-container">
                  <input
                    type="file"
                    accept="image/*"
                    (change)="onFileSelected($event, 'driver_img')"
                    class="file-input"
                    id="driver-upload">
                  <label for="driver-upload" class="file-label">
                    <ion-icon name="cloud-upload"></ion-icon>
                    Choose Driver Photo
                  </label>
                </div>
                <div *ngIf="hasError(documentsForm, 'driver_img')" class="error-text">
                  {{ getErrorMessage(documentsForm, 'driver_img') }}
                </div>
              </ion-col>
              <ion-col size="12" size-md="6">
                <ion-item>
                  <ion-label position="stacked">License Document *</ion-label>
                </ion-item>
                <div class="file-upload-container">
                  <input
                    type="file"
                    accept="image/*"
                    (change)="onFileSelected($event, 'license_img')"
                    class="file-input"
                    id="license-upload">
                  <label for="license-upload" class="file-label">
                    <ion-icon name="cloud-upload"></ion-icon>
                    Choose License Image
                  </label>
                </div>
                <div *ngIf="hasError(documentsForm, 'license_img')" class="error-text">
                  {{ getErrorMessage(documentsForm, 'license_img') }}
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-md="6">
                <ion-item>
                  <ion-label position="stacked">RC Document *</ion-label>
                </ion-item>
                <div class="file-upload-container">
                  <input
                    type="file"
                    accept="image/*"
                    (change)="onFileSelected($event, 'rc_img')"
                    class="file-input"
                    id="rc-upload">
                  <label for="rc-upload" class="file-label">
                    <ion-icon name="cloud-upload"></ion-icon>
                    Choose RC Image
                  </label>
                </div>
                <div *ngIf="hasError(documentsForm, 'rc_img')" class="error-text">
                  {{ getErrorMessage(documentsForm, 'rc_img') }}
                </div>
              </ion-col>
              <ion-col size="12" size-md="6">
                <ion-item>
                  <ion-label position="stacked">Insurance Document *</ion-label>
                </ion-item>
                <div class="file-upload-container">
                  <input
                    type="file"
                    accept="image/*"
                    (change)="onFileSelected($event, 'insurance_img')"
                    class="file-input"
                    id="insurance-upload">
                  <label for="insurance-upload" class="file-label">
                    <ion-icon name="cloud-upload"></ion-icon>
                    Choose Insurance Image
                  </label>
                </div>
                <div *ngIf="hasError(documentsForm, 'insurance_img')" class="error-text">
                  {{ getErrorMessage(documentsForm, 'insurance_img') }}
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Step 3: Vehicle Information -->
  <div *ngIf="currentStep === 3">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Vehicle Information</ion-card-title>
        <ion-card-subtitle>Enter vehicle details</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="vehicleForm">
          <ion-grid>
            <ion-row>
              <ion-col size="12" size-md="6">
                <ion-item [class.error-item]="hasError(vehicleForm, 'veh_number')">
                  <ion-label position="stacked">Vehicle Number *</ion-label>
                  <ion-input
                    formControlName="veh_number"
                    placeholder="Enter vehicle number"
                    style="text-transform: uppercase;">
                  </ion-input>
                </ion-item>
                <div *ngIf="hasError(vehicleForm, 'veh_number')" class="error-text">
                  {{ getErrorMessage(vehicleForm, 'veh_number') }}
                </div>
              </ion-col>
              <ion-col size="12" size-md="6">
                <ion-item [class.error-item]="hasError(vehicleForm, 'reg_date')">
                  <ion-label position="stacked">Registration Date *</ion-label>
                  <ion-datetime
                    formControlName="reg_date"
                    presentation="date"
                    [max]="today">
                  </ion-datetime>
                </ion-item>
                <div *ngIf="hasError(vehicleForm, 'reg_date')" class="error-text">
                  {{ getErrorMessage(vehicleForm, 'reg_date') }}
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-md="6">
                <ion-item [class.error-item]="hasError(vehicleForm, 'state')">
                  <ion-label position="stacked">State *</ion-label>
                  <ion-select formControlName="state" placeholder="Select state">
                    <ion-select-option value="AP">Andhra Pradesh</ion-select-option>
                    <ion-select-option value="AR">Arunachal Pradesh</ion-select-option>
                    <ion-select-option value="AS">Assam</ion-select-option>
                    <ion-select-option value="BR">Bihar</ion-select-option>
                    <ion-select-option value="CT">Chhattisgarh</ion-select-option>
                    <ion-select-option value="GA">Goa</ion-select-option>
                    <ion-select-option value="GJ">Gujarat</ion-select-option>
                    <ion-select-option value="HR">Haryana</ion-select-option>
                    <ion-select-option value="HP">Himachal Pradesh</ion-select-option>
                    <ion-select-option value="JK">Jammu and Kashmir</ion-select-option>
                    <ion-select-option value="JH">Jharkhand</ion-select-option>
                    <ion-select-option value="KA">Karnataka</ion-select-option>
                    <ion-select-option value="KL">Kerala</ion-select-option>
                    <ion-select-option value="MP">Madhya Pradesh</ion-select-option>
                    <ion-select-option value="MH">Maharashtra</ion-select-option>
                    <ion-select-option value="MN">Manipur</ion-select-option>
                    <ion-select-option value="ML">Meghalaya</ion-select-option>
                    <ion-select-option value="MZ">Mizoram</ion-select-option>
                    <ion-select-option value="NL">Nagaland</ion-select-option>
                    <ion-select-option value="OR">Odisha</ion-select-option>
                    <ion-select-option value="PB">Punjab</ion-select-option>
                    <ion-select-option value="RJ">Rajasthan</ion-select-option>
                    <ion-select-option value="SK">Sikkim</ion-select-option>
                    <ion-select-option value="TN">Tamil Nadu</ion-select-option>
                    <ion-select-option value="TG">Telangana</ion-select-option>
                    <ion-select-option value="TR">Tripura</ion-select-option>
                    <ion-select-option value="UP">Uttar Pradesh</ion-select-option>
                    <ion-select-option value="UT">Uttarakhand</ion-select-option>
                    <ion-select-option value="WB">West Bengal</ion-select-option>
                  </ion-select>
                </ion-item>
                <div *ngIf="hasError(vehicleForm, 'state')" class="error-text">
                  {{ getErrorMessage(vehicleForm, 'state') }}
                </div>
              </ion-col>
              <ion-col size="12" size-md="6">
                <ion-item [class.error-item]="hasError(vehicleForm, 'type_id')">
                  <ion-label position="stacked">Vehicle Type ID *</ion-label>
                  <ion-select formControlName="type_id" placeholder="Select vehicle type">
                    <ion-select-option value="1">Two Wheeler</ion-select-option>
                    <ion-select-option value="2">Three Wheeler</ion-select-option>
                    <ion-select-option value="3">Four Wheeler</ion-select-option>
                    <ion-select-option value="4">Light Commercial Vehicle</ion-select-option>
                    <ion-select-option value="5">Heavy Commercial Vehicle</ion-select-option>
                    <ion-select-option value="6">Bus</ion-select-option>
                    <ion-select-option value="7">Truck</ion-select-option>
                  </ion-select>
                </ion-item>
                <div *ngIf="hasError(vehicleForm, 'type_id')" class="error-text">
                  {{ getErrorMessage(vehicleForm, 'type_id') }}
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-md="6">
                <ion-item [class.error-item]="hasError(vehicleForm, 'veh_make')">
                  <ion-label position="stacked">Vehicle Make *</ion-label>
                  <ion-input formControlName="veh_make" placeholder="Enter vehicle make (e.g., Tata, Mahindra)"></ion-input>
                </ion-item>
                <div *ngIf="hasError(vehicleForm, 'veh_make')" class="error-text">
                  {{ getErrorMessage(vehicleForm, 'veh_make') }}
                </div>
              </ion-col>
              <ion-col size="12" size-md="6">
                <ion-item [class.error-item]="hasError(vehicleForm, 'veh_model')">
                  <ion-label position="stacked">Vehicle Model *</ion-label>
                  <ion-input formControlName="veh_model" placeholder="Enter vehicle model"></ion-input>
                </ion-item>
                <div *ngIf="hasError(vehicleForm, 'veh_model')" class="error-text">
                  {{ getErrorMessage(vehicleForm, 'veh_model') }}
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-md="6">
                <ion-item [class.error-item]="hasError(vehicleForm, 'load_capacity')">
                  <ion-label position="stacked">Load Capacity (kg) *</ion-label>
                  <ion-input
                    formControlName="load_capacity"
                    type="number"
                    placeholder="Enter load capacity"
                    min="1">
                  </ion-input>
                </ion-item>
                <div *ngIf="hasError(vehicleForm, 'load_capacity')" class="error-text">
                  {{ getErrorMessage(vehicleForm, 'load_capacity') }}
                </div>
              </ion-col>
              <ion-col size="12" size-md="6">
                <ion-item [class.error-item]="hasError(vehicleForm, 'fuel_type')">
                  <ion-label position="stacked">Fuel Type *</ion-label>
                  <ion-select formControlName="fuel_type" placeholder="Select fuel type">
                    <ion-select-option value="petrol">Petrol</ion-select-option>
                    <ion-select-option value="diesel">Diesel</ion-select-option>
                    <ion-select-option value="cng">CNG</ion-select-option>
                    <ion-select-option value="lpg">LPG</ion-select-option>
                    <ion-select-option value="electric">Electric</ion-select-option>
                    <ion-select-option value="hybrid">Hybrid</ion-select-option>
                  </ion-select>
                </ion-item>
                <div *ngIf="hasError(vehicleForm, 'fuel_type')" class="error-text">
                  {{ getErrorMessage(vehicleForm, 'fuel_type') }}
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-item [class.error-item]="hasError(vehicleForm, 'kms_travelled')">
                  <ion-label position="stacked">KMs Travelled *</ion-label>
                  <ion-input
                    formControlName="kms_travelled"
                    type="number"
                    placeholder="Enter kilometers travelled"
                    min="0">
                  </ion-input>
                </ion-item>
                <div *ngIf="hasError(vehicleForm, 'kms_travelled')" class="error-text">
                  {{ getErrorMessage(vehicleForm, 'kms_travelled') }}
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Step 4: Insurance Information -->
  <div *ngIf="currentStep === 4">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Insurance Information</ion-card-title>
        <ion-card-subtitle>Enter vehicle insurance details</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="insuranceForm">
          <ion-grid>
            <ion-row>
              <ion-col size="12" size-md="6">
                <ion-item [class.error-item]="hasError(insuranceForm, 'frm_date')">
                  <ion-label position="stacked">Insurance From Date *</ion-label>
                  <ion-datetime
                    formControlName="frm_date"
                    presentation="date">
                  </ion-datetime>
                </ion-item>
                <div *ngIf="hasError(insuranceForm, 'frm_date')" class="error-text">
                  {{ getErrorMessage(insuranceForm, 'frm_date') }}
                </div>
              </ion-col>
              <ion-col size="12" size-md="6">
                <ion-item [class.error-item]="hasError(insuranceForm, 'to_date')">
                  <ion-label position="stacked">Insurance To Date *</ion-label>
                  <ion-datetime
                    formControlName="to_date"
                    presentation="date"
                    [min]="today">
                  </ion-datetime>
                </ion-item>
                <div *ngIf="hasError(insuranceForm, 'to_date')" class="error-text">
                  {{ getErrorMessage(insuranceForm, 'to_date') }}
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-md="6">
                <ion-item [class.error-item]="hasError(insuranceForm, 'ins_company')">
                  <ion-label position="stacked">Insurance Company *</ion-label>
                  <ion-select formControlName="ins_company" placeholder="Select insurance company">
                    <ion-select-option value="LIC">Life Insurance Corporation of India</ion-select-option>
                    <ion-select-option value="ICICI">ICICI Lombard</ion-select-option>
                    <ion-select-option value="HDFC">HDFC ERGO</ion-select-option>
                    <ion-select-option value="BAJAJ">Bajaj Allianz</ion-select-option>
                    <ion-select-option value="TATA">Tata AIG</ion-select-option>
                    <ion-select-option value="RELIANCE">Reliance General</ion-select-option>
                    <ion-select-option value="NEW_INDIA">New India Assurance</ion-select-option>
                    <ion-select-option value="ORIENTAL">Oriental Insurance</ion-select-option>
                    <ion-select-option value="NATIONAL">National Insurance</ion-select-option>
                    <ion-select-option value="UNITED">United India Insurance</ion-select-option>
                    <ion-select-option value="OTHER">Other</ion-select-option>
                  </ion-select>
                </ion-item>
                <div *ngIf="hasError(insuranceForm, 'ins_company')" class="error-text">
                  {{ getErrorMessage(insuranceForm, 'ins_company') }}
                </div>
              </ion-col>
              <ion-col size="12" size-md="6">
                <ion-item [class.error-item]="hasError(insuranceForm, 'amt_insured')">
                  <ion-label position="stacked">Amount Insured (₹) *</ion-label>
                  <ion-input
                    formControlName="amt_insured"
                    type="number"
                    placeholder="Enter insured amount"
                    min="1">
                  </ion-input>
                </ion-item>
                <div *ngIf="hasError(insuranceForm, 'amt_insured')" class="error-text">
                  {{ getErrorMessage(insuranceForm, 'amt_insured') }}
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Step 5: Review & Submit -->
  <div *ngIf="currentStep === 5">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Review & Submit</ion-card-title>
        <ion-card-subtitle>Please review all information before submitting</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <!-- Basic Info Review -->
        <ion-item-group>
          <ion-item-divider color="primary">
            <ion-label>Basic Information</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>
              <h2>{{ formData.basicInfo.first_name }} {{ formData.basicInfo.last_name }}</h2>
              <p><strong>License:</strong> {{ formData.basicInfo.licence_no }} ({{ formData.basicInfo.licence_type }})</p>
              <p><strong>Contact:</strong> {{ formData.basicInfo.contact_num }}</p>
              <p><strong>Additional Contact:</strong> {{ formData.basicInfo.contact_num_addl }}</p>
              <p><strong>Email:</strong> {{ formData.basicInfo.email }}</p>
              <p><strong>Aadhar:</strong> {{ formData.basicInfo.aadhar }}</p>
              <p><strong>PAN:</strong> {{ formData.basicInfo.pan }}</p>
              <p><strong>Address:</strong> {{ formData.basicInfo.address_door_no }}, {{ formData.basicInfo.address_street }}, {{ formData.basicInfo.address_town }}, {{ formData.basicInfo.address_state }} - {{ formData.basicInfo.address_pin_code }}</p>
              <p><strong>Bank:</strong> {{ formData.basicInfo.bank_name }} ({{ formData.basicInfo.bank_ac_no }})</p>
            </ion-label>
          </ion-item>
        </ion-item-group>

        <!-- Documents Review -->
        <ion-item-group>
          <ion-item-divider color="secondary">
            <ion-label>Documents</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>
              <p><strong>Aadhar Image:</strong> {{ formData.documents.aadhar_img ? 'Uploaded' : 'Not uploaded' }}</p>
              <p><strong>PAN Image:</strong> {{ formData.documents.pan_img ? 'Uploaded' : 'Not uploaded' }}</p>
              <p><strong>Driver Photo:</strong> {{ formData.documents.driver_img ? 'Uploaded' : 'Not uploaded' }}</p>
              <p><strong>License Image:</strong> {{ formData.documents.license_img ? 'Uploaded' : 'Not uploaded' }}</p>
              <p><strong>RC Document:</strong> {{ formData.documents.rc_img ? 'Uploaded' : 'Not uploaded' }}</p>
              <p><strong>Insurance Document:</strong> {{ formData.documents.insurance_img ? 'Uploaded' : 'Not uploaded' }}</p>
            </ion-label>
          </ion-item>
        </ion-item-group>

        <!-- Vehicle Info Review -->
        <ion-item-group>
          <ion-item-divider color="tertiary">
            <ion-label>Vehicle Information</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>
              <h3>{{ formData.vehicle.veh_number }}</h3>
              <p><strong>Make & Model:</strong> {{ formData.vehicle.veh_make }} {{ formData.vehicle.veh_model }}</p>
              <p><strong>Registration Date:</strong> {{ formData.vehicle.reg_date }}</p>
              <p><strong>State:</strong> {{ formData.vehicle.state }}</p>
              <p><strong>Fuel Type:</strong> {{ formData.vehicle.fuel_type }}</p>
              <p><strong>Load Capacity:</strong> {{ formData.vehicle.load_capacity }} kg</p>
              <p><strong>KMs Travelled:</strong> {{ formData.vehicle.kms_travelled }} km</p>
            </ion-label>
          </ion-item>
        </ion-item-group>

        <!-- Insurance Info Review -->
        <ion-item-group>
          <ion-item-divider color="success">
            <ion-label>Insurance Information</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>
              <h3>{{ formData.insurance.ins_company }}</h3>
              <p><strong>Valid Period:</strong> {{ formData.insurance.frm_date }} to {{ formData.insurance.to_date }}</p>
              <p><strong>Amount Insured:</strong> ₹{{ formData.insurance.amt_insured | number }}</p>
            </ion-label>
          </ion-item>
        </ion-item-group>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Navigation Buttons -->
  <div class="navigation-buttons">
    <ion-button
      *ngIf="currentStep > 1"
      fill="outline"
      (click)="previousStep()"
      color="medium">
      <ion-icon name="chevron-back" slot="start"></ion-icon>
      Previous
    </ion-button>

    <ion-button
      *ngIf="currentStep < 5"
      (click)="nextStep()"
      class="next-button"
      color="primary">
      Save & Next
      <ion-icon name="chevron-forward" slot="end"></ion-icon>
    </ion-button>

    <ion-button
      *ngIf="currentStep === 5"
      (click)="submitForm()"
      color="success"
      class="submit-button">
      <ion-icon name="checkmark-circle" slot="start"></ion-icon>
      Submit Registration
    </ion-button>
  </div>
</ion-content>