<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="inventoryLink" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Add Inventory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list lines="full" class="form-list">
    <ion-item>
      <ion-label position="floating">Product Name</ion-label>
      <ion-input [(ngModel)]="batch.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Grade</ion-label>
      <ion-input [(ngModel)]="batch.grade"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Quantity</ion-label>
      <ion-input type="number" [(ngModel)]="batch.quantity" placeholder="Enter quantity"></ion-input>
    </ion-item>

    <ion-item class="custom-item">
      <ion-label position="stacked">
        Arrival Date
      </ion-label>
      <ion-input type="datetime-local" [(ngModel)]="batch.arrivalDate"></ion-input>
    </ion-item>

    <ion-item class="custom-item">
      <ion-label position="stacked">
        Expiry Date
      </ion-label>
      <ion-input type="datetime-local" [(ngModel)]="batch.expiryDate"></ion-input>
    </ion-item>

    <!-- New fields for Supplier Name and Location -->
    <ion-item>
      <ion-label position="floating">Supplier Name</ion-label>
      <ion-input [(ngModel)]="batch.supplierName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Supplier Location</ion-label>
      <ion-input [(ngModel)]="batch.supplierLocation"></ion-input>
    </ion-item>
  </ion-list>
  <div class="btn-wrapper">
    <ion-button expand="block" (click)="addBatch()" class="custom-btn">
      Add Batch
    </ion-button>
  </div>
</ion-content>
