ion-toolbar.main-toolbar {
        --background: radial-gradient(circle, #ffffff 0%, #eef2f3 100%);
        color: rgb(152, 151, 151);
        font-family: "Garamond", serif;
        text-transform: uppercase;
      }

      ion-toolbar.custom-toolbar {
        --background: rgb(136, 172, 140);
        --color: white;
        font-family: "Garamond", serif;
      }

      ion-menu-button {
        --color: rgb(152, 151, 151);
      }

      ion-content {
        --padding-top: 20px;

        ion-list {
          width: 100%;
        }

        ion-item {
          --inner-border-width: 0px;
          margin-bottom: 10px;
          transition: background-color 0.3s ease;
          border-radius: 5px;

          &:hover {
            background-color: rgba(136, 172, 140, 0.2);
          }
        }

        ion-label {
          font-family: "Century Gothic", sans-serif;
          color: rgb(115, 112, 112);
        }

        ion-icon {
          font-size: 20px;
        }
      }
