<ion-header mode="ios">
  <ion-toolbar class="business-info-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" class="back-btn">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="page-title">{{ 'RETAILER_BUSINESS_INFO.Business Info' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-spinner *ngIf="isLoading" name="crescent" class="header-spinner"></ion-spinner>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card>
      <form [formGroup]="form">

        <!-- Business Information Section -->
        <div class="info-section">
          <div class="section-header">
            <ion-icon name="business-outline"></ion-icon>
            <h3>{{ 'RETAILER_BUSINESS_INFO.Business Information' | translate }}</h3>
          </div>
          <ion-list>
            <ion-item>
              <ion-label position="stacked">{{ 'RETAILER_BUSINESS_INFO.Registration Number' | translate }}</ion-label>
              <ion-input formControlName="b_registration_num" readonly></ion-input>
            </ion-item>
          </ion-list>
        </div>

        <!-- Legal Information Section -->
        <div class="info-section">
          <div class="section-header">
            <ion-icon name="document-text-outline"></ion-icon>
            <h3>{{ 'RETAILER_BUSINESS_INFO.Legal Information' | translate }}</h3>
          </div>
          <ion-list>
            <ion-item>
              <ion-label position="stacked">{{ 'RETAILER_BUSINESS_INFO.PAN Number' | translate }}</ion-label>
              <ion-input formControlName="pan_number" readonly></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">{{ 'RETAILER_BUSINESS_INFO.Aadhaar Number' | translate }}</ion-label>
              <ion-input formControlName="aadhaar_number" readonly></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">{{ 'RETAILER_BUSINESS_INFO.Government License Number' | translate }}</ion-label>
              <ion-input formControlName="government_license_number" readonly></ion-input>
            </ion-item>
          </ion-list>
        </div>

      </form>
    </ion-card>
  </div>
</ion-content>